*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth; } }
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #222222;
  background-color: #f8f2f9;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  line-height: 0.8; }

h1,
h2 {
  font-weight: 700;
  font-size: 1.3em; }

h3 {
  font-weight: 700;
  font-size: 1em; }

h4,
h5,
h6 {
  font-weight: 500;
  font-size: 0.8em;
  margin-bottom: 0; }

.container-xl {
  max-width: 1550px; }

@media screen and (max-width: 768px) {
  .container-xl {
    padding-left: 0;
    padding-right: 0; } }
a {
  text-decoration: none; }

p,
ul {
  margin-bottom: 0; }

/* Buttons */
.btn-primary {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #222222;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .btn-primary:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .btn-primary:focus {
    outline: none; }
  .btn-primary.dark-blue {
    background-image: -webkit-gradient(linear, left top, right top, from(#25aae1), color-stop(#4481eb), color-stop(#04befe), to(#3f86ed));
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    -webkit-box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
            box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    position: relative;
    z-index: 5; }

button {
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 0; }

/* Main Header & Navigation */
#main-header {
  background-color: grey;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 992px) {
    #main-header {
      height: 60px; } }
  #main-header #navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 10px 10px;
    width: 100%;
    max-width: 1550px;
    margin: 0 auto; }
    @media screen and (max-width: 992px) {
      #main-header #navbar {
        padding: 10px 20px; } }
    #main-header #navbar #site-logo img {
      width: 100%;
      max-width: 60px; }
    #main-header #navbar #mobile-logo img {
      width: 100%;
      max-width: 45px; }
    #main-header #navbar .navbar-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #main-header #navbar .navbar-right .navbar-links {
        padding-right: 5px; }
        #main-header #navbar .navbar-right .navbar-links .navbar-nav {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          list-style: none; }
          @media screen and (max-width: 992px) {
            #main-header #navbar .navbar-right .navbar-links .navbar-nav {
              display: none; } }
          #main-header #navbar .navbar-right .navbar-links .navbar-nav img {
            width: 100%;
            max-width: 25px; }
          #main-header #navbar .navbar-right .navbar-links .navbar-nav a {
            text-decoration: none;
            color: #ffffff; }
          #main-header #navbar .navbar-right .navbar-links .navbar-nav a:hover {
            text-decoration: underline;
            color: #f2f2f2; }
          #main-header #navbar .navbar-right .navbar-links .navbar-nav li {
            padding: 0 5px; }
          #main-header #navbar .navbar-right .navbar-links .navbar-nav .nav-item:first-child {
            padding-right: 20px; }
          #main-header #navbar .navbar-right .navbar-links .navbar-nav .nav-item:last-child {
            padding-right: 20px; }
      #main-header #navbar .navbar-right .username-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media screen and (max-width: 992px) {
          #main-header #navbar .navbar-right .username-box {
            margin-left: 5px; } }
        #main-header #navbar .navbar-right .username-box a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
        #main-header #navbar .navbar-right .username-box #user-image {
          width: 100%;
          max-width: 35px;
          border-radius: 50%; }
        #main-header #navbar .navbar-right .username-box p {
          padding: 0 5px 0 10px;
          color: #ffffff; }
          #main-header #navbar .navbar-right .username-box p:hover {
            text-decoration: underline; }
        #main-header #navbar .navbar-right .username-box #user-dropdown {
          width: 100%;
          max-width: 10px; }
      #main-header #navbar .navbar-right .navbar-icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media screen and (min-width: 992px) {
          #main-header #navbar .navbar-right .navbar-icons {
            display: none; } }
        #main-header #navbar .navbar-right .navbar-icons img {
          width: 100%;
          max-width: 25px;
          margin: 0 5px; }
        #main-header #navbar .navbar-right .navbar-icons a:last-child {
          padding-right: 20px; }
  @media screen and (max-width: 992px) {
    #main-header #site-logo {
      display: none; } }
  @media screen and (min-width: 992px) {
    #main-header #mobile-logo {
      display: none; } }

/* Main Homepage */
#main-homepage {
  padding: 10px 0; }
  @media screen and (max-width: 992px) {
    #main-homepage {
      padding: 10px 0; } }

#main-homepage #main-row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

#main-homepage #feed,
#main-homepage #sp-sec,
#main-homepage #sp-prim {
  padding: 10px; }

#main-homepage .sp-sec-box {
  height: calc(100vh - 120px); }

@media screen and (max-width: 992px) {
  #main-homepage .sp-sec-box {
    height: auto; } }
#main-homepage #sp-prim .sp-prim-inner {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  height: calc(100vh - 120px); }

@media screen and (max-width: 992px) {
  #main-homepage #sp-prim .sp-prim-inner {
    top: 80px;
    height: auto; } }
@media screen and (max-width: 768px) {
  #main-homepage #sp-prim .sp-prim-inner {
    position: inherit; } }
#main-homepage #sp-sec .sp-sec-inner {
  position: -webkit-sticky;
  position: sticky;
  top: 100px; }

@media screen and (max-width: 992px) {
  #main-homepage #sp-sec .sp-sec-inner {
    top: 80px; } }
@media screen and (max-width: 768px) {
  #main-homepage #sp-sec .sp-sec-inner {
    position: inherit; } }
#main-homepage .analytics-tab,
#main-homepage .recommendations-tab,
#main-homepage .most-viewed-tab,
#main-homepage .sp-sec-box,
#main-homepage .status-box,
#main-homepage .post {
  background-color: #ffffff;
  border: solid 1px #ecebed;
  border-radius: 10px;
  padding: 20px; }

@media screen and (max-width: 768px) {
  #main-homepage .analytics-tab,
  #main-homepage .recommendations-tab,
  #main-homepage .most-viewed-tab,
  #main-homepage .sp-sec-box,
  #main-homepage .status-box,
  #main-homepage .post {
    border-radius: 0; } }
#main-homepage .status-box {
  margin-bottom: 20px; }

#main-homepage .recommendations-tab {
  margin: 20px 0; }

#main-homepage .post {
  margin: 10px 0; }

#main-homepage .post:last-child {
  margin: 10px 0 0 0; }

#main-homepage .poster-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end; }

#main-homepage .poster-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#main-homepage .poster-id img {
  width: 50px;
  max-width: 100%;
  border-radius: 50%;
  margin-right: 10px; }

#main-homepage .post-report img {
  width: 15px;
  max-width: 100%;
  border-radius: 50%; }

#main-homepage .post-report button {
  border-radius: 50%;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s; }

#main-homepage .post-report button:hover {
  background-color: #f8f2f9;
  border-radius: 50%; }

#main-homepage .post-content {
  padding: 20px 0; }

#main-homepage .post-details ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0; }

#main-homepage .post-details li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#main-homepage .post-details li button img {
  width: 20px;
  max-width: 100%; }

#main-homepage .post-details .like-counts-item {
  padding: 0 5px; }

#main-homepage .interact-buttons {
  padding: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#main-homepage .interact-buttons button {
  padding: 10px 5px;
  border-radius: 5px;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
  margin: 0 5px; }

#main-homepage .interact-buttons button:hover {
  background-color: #f8f2f9; }

#main-homepage .interact-buttons button img {
  width: 20px;
  max-width: 100%; }

@media screen and (max-width: 768px) {
  #main-homepage #sp-prim {
    width: 100%; } }
@media screen and (max-width: 1200px) {
  #main-homepage #feed {
    width: 40%; } }
@media screen and (max-width: 992px) {
  #main-homepage #feed {
    width: 75%; } }
@media screen and (max-width: 768px) {
  #main-homepage #feed {
    width: 100%; } }
@media screen and (max-width: 1200px) {
  #main-homepage #sp-sec {
    width: 35%; } }
@media screen and (max-width: 992px) {
  #main-homepage #sp-sec {
    width: 75%; } }
@media screen and (max-width: 768px) {
  #main-homepage #sp-sec {
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */